---
layout: map
title:  "Carte"
---

<script>
  var posts = []
  {% for post in site.posts %}
  {% if post.lat %}
  posts.push({
    lat: {{post.lat}},
    lng: {{post.lng}},
    date: "{{post.date}}",
    title: "{{post.title | escape}}"
  })
  {% endif %}
  {% endfor %}
  console.log('Posts: ' + JSON.stringify(posts))
   
  var init = function(){
    console.log('init')
    var map = L.map('map')
    map.fitBounds([[48.5, 7.6],[69.57, 17.8]])
    var osmLayer = L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '© OpenStreetMap contributors', maxZoom: 19})
    map.addLayer(osmLayer)    
  }
  window.onload = init
   
</script>

<div id="map" style="width: 100%; height: 100vh;">
</div>