---
layout: map
title:  "Carte"
---

<script>
  var posts = []
  {% for post in site.posts %}
  {% if post.lat %}
  posts.push({
    lat: {{post.lat}},
    lng: {{post.lng}},
    date: "{{post.date | date: \"%d/%m/%Y\"}}",
    title: "{{post.title | escape}}"
  })
  {% endif %}
  {% endfor %}
  console.log('Posts: ' + JSON.stringify(posts))
   
  // pour les tests
  for (var i=0; i < 10; i++){
    posts.push({
      lat: 45 + i,
      lng: 6 + i,
      title: "Jour " + i,
      date: posts[0].date
    })    
  }
   
  var init = function(){
        
    var map = L.map('map')
    map.scrollWheelZoom.disable()
    map.fitBounds([[48.5, 7.6],[69.57, 17.8]])
    var osmLayer = L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '© OpenStreetMap contributors', maxZoom: 19})
    map.addLayer(osmLayer)
    posts.forEach(function(post){
      var date = post.date
      marker = L.marker([post.lat, post.lng], {title: date + ' - ' + post.title})
      marker.bindPopup('<div>' + date + '<br>' + post.title + '</div>').openPopup()
      marker.addTo(map)

    })
  }
  window.onload = init
   
</script>

<div id="map" style="width: 100%; height: 100vh;">
</div>