---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <div class="date">{{ page.date | date: "%d/%m/%Y"}} - {{ page.by }}</div>
  {{ content }}
  <aside>
    {% if page.lat %}
    <div class="map">
      <iframe width="200" height="160" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox={{page.lng | minus: 1}}%2C{{page.lat | minus: 1}}%2C{{page.lng | plus: 1}}%2C{{page.lat | plus: 1}}&amp;marker={{page.lat}}%2C{{page.lng}}" style="border: 1px solid black"></iframe><br/>
      <small><a href="https://www.openstreetmap.org/?mlat={{page.lat}}&amp;mlon={{page.lng}}#map=9/{{page.lat}}/{{page.lng}}&amp;" target="_blank">Afficher une carte plus grande</a></small>   
    </div>   
    {% endif %}
    
   {% if page.kms %}
    <div class="infos"><img src="/img/icon-velo.svg" alt=""> Kms parcourus :<br>
    aujourd'hui : {{ page.kms }} <br>
    depuis le début : {{ page.total }}</div>
    {% endif %}
    
    {% if page.lat %}    
    <div class="infos"><img src="/img/icon-pin.svg" alt=""> Position : <br> 
    {{ page.lat }} latitude Nord <br> 
    {{ page.lng }} longitude Est</div>
    
    <br>
    <div>
      <a href="/map.html">Suivre notre progression</a>
    </div>
    
    {% endif %}
  </aside>
</article>



<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

<hr style="margin-top: 50px;">
<p style="font-weight: bold; font-size: 14px;">Pour nous laisser un commentaire, écrivez à <a href="mailto:senja@alelaba.com?subject={{page.title}}">senja@alelaba.com</a></p>
<ul class="comments">
{% for comment in page.comments %}
  <li>{{comment}}</li>
{% endfor %}  
</ul>